include layout
include userNavbar
.container
    .row
        .col-md-6
            #accordion1.panel-group
                // each loop doesn't work
                each item in data
                    -var x = '#' + item._id
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', data-parent='#accordion1', href=x)
                                    | #{item.name}
                        div(id=item._id).panel-collapse.collapse
                            .panel-body
                                div(role='form')
                                    .col-md-10.col-md-offset-1
                                        .form-group
                                            label(for='newUser') Edit User Name
                                            input.userName.form-control(type='text', value=item.name)
                                        .form-group
                                            label(for='restAddress') Edit E-mail
                                            input.email.form-control(type='text', value=item.email)
                                        .form-group
                                            label(for='restPhone') Change Password
                                            input.password.form-control(type='text', value=item.password)
                                        .form-group
                                            label(for='restPermissions') Change Permissions
                                            select.permissions.form-control(type='password', name='permissions', placeholder='Password')
                                                option(value='admin') Admin
                                                option(value='user') User
                                    //delete this later
                                    //.col-md-6
                                    //    strong Update the Menu
                                    //    each i in item.items
                                    //        .form-group.form-inline
                                    //            label(for='menuItem') Menu
                                    //            input#menuItem.form-control(type='text', value=i.itemName)
                                    //            label(for='itemPrice') Price
                                    //            input#itemPrice.form-control(type='number', value=i.price)
                                    button.btn.btn-primary.update-user Update User
                                    button.btn.btn-danger.delete-user.pull-right Delete User

        form.col-md-6(role='form', method='POST', action='/adduser')
            .form-group
                label(for='newUser') Enter Full Name
                input#newUser.form-control(type='text', name='name', placeholder='John Doe')
            .form-group
                label(for='newUserEmail') Email address
                input#newUserEmail.form-control(type='email', name='email', placeholder='example@gmail.com')
            .form-group
                label(for='newUserPassword') Password
                input#newUserPassword.form-control(type='password', name='password', placeholder='Password')
            .form-group
                label(for='newUserPermissions') Permissions
                select#newUserPassword.form-control(type='password', name='permissions', placeholder='Password')
                    option(value='admin') Admin
                    option(value='user') User
            button.btn.btn-primary.pull-right(type='submit') Create user

